.navbar-brand{
    color: #b0b0b0;
}
.navbar .nav-link {
  color: #b0b0b0;
}
.navbar .nav-link:hover {
  color: #e0e0e0;
}

body{
    background: #ffffff;
}

.rounded-circle-custom {

width: 400px; 
height:400px;
border-radius: 50%;
position: relative;
left: 20px;
}