body{
    background: #ffffff;
}

.navbar-brand{
    color: #b0b0b0;
}
.navbar .nav-link {
  color: #b0b0b0;
}
.navbar .nav-link:hover {
  color: #e0e0e0;
}

.hero {
      height: 100vh;                    
      min-height: 500px;
      background-image: url('https://media.istockphoto.com/id/971992912/es/foto/paisaje-de-la-ciudad-de-osaka.jpg?s=612x612&w=0&k=20&c=-gq8MrQwi1gG7Qv7hYPUjMLOE7KK9uLkWW4i1PVfmcI=');
      background-size: cover;
      background-position: center;
      background-attachment: fixed;     
      background-repeat: no-repeat;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  h1,h2{
    background-color: white;
    text-align: center;
  }

.rounded-circle-custom {

width: 400px; 
height:400px;
border-radius: 50%;
position: relative;
left: 20px;
}