body{
    background: #ffffff;
}

.hero {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://images.pexels.com/photos/7837/pexels-photo.jpg?cs=srgb&dl=pexels-life-of-pix-7837.jpg&fm=jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rounded-circle-custom {

width: 400px; 
height:400px;
border-radius: 50%;
position: relative;
left: 20px;
object-fit: cover;
aspect-ratio: 1 / 1;
max-width: 100%;
width: 100%;
height: auto;

}

