<!-- your html code here -->
<div class="container py-5">
<hr class="featurette-divider ">
<br><br>
<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-sm-8">  
      <h2 class="featurette-heading display-5 text-start"><b>The First Heading <span class="text-muted">Will Catch Your Eye</span></b></h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa necessitatibus esse sunt! Praesentium ut eligendi veritatis,
        eos voluptate quia? Eveniet vitae aliquid qui temporibus laboriosam libero vel officiis, alias eligendi!.</p>
    </div>
    <div class="col-sm-4">
      <img src="https://cdna.artstation.com/p/assets/images/images/018/401/330/large/lee-daniels-caricature-walter-white.jpg?1559228995" class="img-fluid rounded-circle" alt="...">
    </div>       
  </div>    
</div>
</div>