<!-- your html code here -->

<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-md-12">
            <h2>Portfolio</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed ultricies felis faucibus,
                taciti blandit pharetra per donec et litora etiam nibh. Integer congue massa eleifend
                iaculis potenti elementum cubilia blandit porta, non lobortis mattis cras rutrum fames
                phasellus pretium, convallis aliquam mus conubia dis in laoreet nunc. </p>
        </div>
    </div>

    <div class="card-group flex-wrap gap-4 justify-content-center">
        <div class="card">
            <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card">
            <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card">
            <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>

    <br><br>
<hr class="featurette-divider">
</div>




